---
- name: Add seeed to deb sources
  lineinfile:
    line: "deb https://seeed-studio.github.io/pi_repo/ stretch main"
    path: /etc/apt/sources.list.d/seeed.list
    create: yes
    state: present

- name: Add seeed apt key
  apt_key:
    url: https://seeed-studio.github.io/pi_repo/public.key
    state: present

- name: Ensure deb dependencies are present
  package:
    name: "{{ item }}"
    state: present
  loop:
    - nodejs
    - libi2c-dev
    - i2c-tools
    - git
    - python-setuptools
    - python-pip
    - python-smbus
    - python-dev
    - python-serial
    - python-rpi.gpio
    - python-numpy
    - python-scipy
    - python3-setuptools
    - python3-pip
    - python3-smbus
    - python3-dev
    - python3-serial
    - python3-rpi.gpio
    - python3-numpy
    - python3-scipy
    - libncurses5
    - python3-mraa
    - python3-upm

- name: Ensure modules are named in /etc/modules
  lineinfile:
    dest: /etc/modules
    line: "{{ item }}"
  loop:
    - "i2c-dev"
    - "i2c-bcm2708"
    - "spi-dev"

- name: Ensure items present in /boot/config.txt
  lineinfile:
    dest: /boot/config.txt
    line: "dtparam={{ item }}=on"
  loop:
    - i2c
    - i2c_arm

- name: Enable w1 for DS18B20
  lineinfile:
    dest: /boot/config.txt
    line: "dtoverlay=w1-gpio,gpiopin=5"

- name: Add PIP packages
  pip:
    name: "{{ item.0 }}"
    executable: "{{ item.1 }}"
  with_nested:
    - [ 'smbus2', 'grove.py', 'seeed-python-dht', 'seeed-python-Ds18b20' ]
    - [ 'pip', 'pip3' ]

- name: Move sampler scripts into place
  copy:
    src: "../spoke/{{ item }}.py"
    dest: "/usr/local/bin/{{ item }}.py"
    mode: 0755
  loop:
    - getAirTemp
    - getHumidity
    - getSoilTemp
    - getSoilMoisture
    - getWaterTemp
